body{
    height: 100vh;
    background: url("back.jpg");
    background-size:cover;
}

.container{
    display: flex;
    flex-direction: column;
    
}
.nav{
    display: flex;
    
}
.left{
    display: flex;
    flex-direction: row;
}

.left p,.right p{
    font-size: 12px;
}

.left img, .right img{
    margin-top: 5px;
}

.right{
    display: flex;
    flex-direction: row;
    margin-left: 1200px;
}
.right img:nth-child(1){
    padding-right: 1.5vw;
}

.footer{
    margin-top: 40vh;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    align-self: center;
}

.time , .date{
    font-size: 50px;
    color: #fff;
    align-self: center;
}

@media(max-width:1700px)
{
    .left p,.right p{
        margin-top: 2vh;
    }
    .right{
        margin-left: 1080px;
    }
}

@media(max-width:1500px)
{
    .left p,.right p{
        margin-top: 2vh;
    }
    .right{
        margin-left: 880px;
    }
}

@media(max-width:1200px)
{
    .left p,.right p{
        margin-top: 2vh;
    }
    .right{
        margin-left: 680px;
    }
}


@media(max-width:1000px)
{
    .left p,.right p{
        margin-top: 2vh;
    }
    .right{
        margin-left: 480px;
    }
}

@media(max-width:600px)
{
    .right{
        margin-left: 230px;
    }
    .time , .date{
        font-size: 30px;
        color: #fff;
        align-self: center;
    }
    .footer{
        margin-top: 55vh;
    }
}

